#menu-bar {

    .ant-tabs-bar {
        border-bottom: 1px solid #d2dde6;
        box-shadow: 0px 0px 5px #c9e0e8;
        padding: 6px;
        background: #f0f2f5;
        border-radius: 4px;
        height: 41px;

        position: fixed;
        left: 266px;
        right: 17px;
        z-index: 999999;

        .ant-tabs-nav-container{
            .ant-tabs-nav-wrap {
                .ant-tabs-nav-scroll{
                    .ant-tabs-nav{
                        div {
                            .ant-tabs-tab {
                                /*border: 0px;*/
                                border-radius: 4px;
                                border-bottom: 1px solid #e8e8e8;
                                padding: 0 10px;
                                margin-right: 6px;

                                > * {
                                    height: 25px;
                                    line-height: 25px;
                                    font-size: 12px;
                                }
                            }

                            .ant-tabs-tab-active {
                                padding-bottom: 0px;
                            }
                        }
                    }
                }
            }
        }

    }

    .ant-tabs-content {
        //position: absolute;
        margin-top: 50px;
    }
}

.ant-space-margin(@m: 6px) {
    > * {
        &:not(:first-child) {
            margin-left: @m;
        }
    }
}

.space-between {

    &-6 {
        .ant-space-margin(6px)
    }

    &-10 {
        .ant-space-margin(10px)
    }
    &-14 {
        .ant-space-margin(14px)
    }
    &-18 {
        .ant-space-margin(18px)
    }
    .ant-space-margin()
}